DATA TYPES

- Data Types Specifies a Type of value to perform a operation on that value.
- There ara Two Types
- Basic Data Type
- Advanced Data Types

Basic Data Types

Integer

- The Number that can be a Positive,Negative and Zero .it can not have any fractional or Decimal number.

In [ ]:
i=900
print(type(i))

<class 'int'>

Float
- The Number that can be a positive , negative and zero with  decimal point.

In [ ]:
k=6.98790
print(type(k))

<class 'float'>

Complex

- The combination of real numbers and iamaginary number.

In [ ]:
a=6876+54j
print(type(a))

<class 'complex'>

Examples for Basic Data Types

In [ ]:
a=98
b=98.76
c=98+66j
print(type(c))
print(type(a))
print(type(b))

<class 'complex'>
<class 'int'>
<class 'float'>

In [ ]:
a=-46
b=-523.1805
c=-96+97j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
a=-67
b=98.34
c=-32+82j
d=a+b
e=a+b+c
f=a*b
g=a-c-d
h=g*a*a*c*d
i=a*a*a*a*a-e
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))
print(g)
print(type(g))
print(h)
print(type(h))
print(i)
print(type(i))
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

31.340000000000003
<class 'float'>
(-0.6599999999999966+82j)
<class 'complex'>
-6588.780000000001
<class 'float'>
(-66.34-82j)
<class 'complex'>
(1244625612.9888-396152809.92880017j)
<class 'complex'>
(-1350125106.34-82j)
<class 'complex'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

Boolean

- Any value present in a Function then it gives output as True.
- Thre is no value Present in a Function it gives output as False.

Examples

In [ ]:
a=54>75
print(a)

False

In [ ]:
b=98<99
print(b)

True

In [ ]:
c=(97==87)
print(c)

False

In [ ]:
d=(44==44)
print(d)

True

In [ ]:
j=9==6
print(j)

False

In [ ]:
k=9<10
print(k)

True

In [ ]:
l=0==0
print(l)

True

In [ ]:
bool(2)

True

In [ ]:
bool(0)

False

In [ ]:
bool(-1)

True

In [ ]:
bool(100)

True

In [ ]:
bool()

False

In [ ]:
bool(9)

True

In [ ]:
bool(j)

False

In [ ]:
bool(k)

True

In [ ]:
bool(l)

True

**7) explain type conversion (or) type casting for each type 5 examples**

- it is used to convert the one type of date into another data type
- they are two types of type conversions
- 1)implicit typeconversion
it converts data type into nother data type automatically
- 2)explicit type conversion
- in this method user needs involve to convert the data type into required data type
- we can not convert complex into int and float because complex have real and imaginary parts
- we can able to convert complex into int and float

In [35]:
#examples of implicit type conversion

a = 23
type(a)

int

In [36]:
b = 356.8
type(b)

float

In [37]:
a = 37
b = 45.09
type(a+b)

float

In [38]:
a = 431
b = 54.95
type(a>b)

bool

In [39]:
a = 23
b = 13.55
type(a>b)

bool

In [40]:
a = 23.3
b = 12
type(a-b)

float

In [41]:
a = 13
b = 13.75
type(a+b)

float

In [42]:
# examples of explicit type conversions

# convert int into float

x = 90
y = float(x)
print(y)
type(y)

90.0

float

In [43]:
a = 332
b = 14
c = float(a*b)
print(c)
type(c)

4648.0

float

In [47]:
vivo21 = 55000
vivo22 = 74350
vivo23 = float(vivo21-vivo22)
print(vivo23)
type(vivo23)

-19350.0

float

In [48]:
alexa = 6321
alexa1 = 5633
alexa2 = float(alexa-alexa1)
print(alexa2)
type(alexa2)

688.0

float

In [50]:
pavan= 9977894
yogesh = 9977894
mallesh= float(pavan/yogesh)
print(mallesh)
type(mallesh)

1.0

float

In [51]:
# convert float into int

a = 34.0
b = int(a)
print(b)
type(b)

34

int

In [52]:
x = 23.09
y = 3425
z = int(x+y)
print(z)
type(z)

3448

int

In [53]:
i = 232904.399
j = 83344.94
k = int(i*j)
print(k)
type(k)

19411403160

int

In [54]:
sal = 112139.56
sal1 = 933449.852442
sal2 = int(sal-sal1)
print(sal2)
type(sal2)

-821310

int

In [55]:
zen = 289233.33
zen1 = 11144
zen2 = int(zen1/zen)
print(zen2)
type(zen2)

0

int

In [56]:
# convert int and float into complex

x = 23
y = 456.3
z = complex(a,b)
print(z)
type(z)

(34+34j)

complex

In [57]:
a = 0
b = 0
c = complex(a,b)
print(c)
type(c)

0j

complex

In [58]:
clr = 84
clr1 = complex(clr)
print(clr1)
type(clr1)

(84+0j)

complex

In [59]:
i = 233423.55
j = 3344.4
k = complex(i,j)
print(k)
type(k)

(233423.55+3344.4j)

complex

In [60]:
a = 12
b = 123.4
c = complex(a,b)
print(c)
type(c)

(12+123.4j)

complex