#**File handling**
- In python, file handling involves performing operations like reading and writing the files
- Here , we have 5 operations in a flie
- open file
- read file
- write file
- append file(if we want)
- close file
#Opening the file
- To open the file we use open() function
- This function require at least one argument (the name of the file to open )
- you can also specify in which mode the file should be opened

commom modes include:

- r(read)
- w(write)
- a(append)
- b(binary write or read)
- t(text mode)

In [18]:
file=open('data .com.txt','r')

#Reading the file
- There are several methods to read the file
- read() - read the entire file
- readline() - read one line at a time
- readlines() - Read all lines and return them as a list

In [19]:
content=file.read()
print(content)

Hello, Data science
say hi!Â

In [20]:
lines=file.readlines()
print(lines)

[]

In [21]:
file = open('data .com.txt', 'r')
lines = file.readlines()
print(lines)

['Hello, Data science\n', 'say hi!\xa0']

In [22]:
file = open('data .com.txt', 'r')
lines = file.readline()
print(lines)

Hello, Data science

#**writing the file**
- To write the file , open it and we can use 'w' for write
- and append 'a' for add to the next line
- In write 'w' mode it will delete the before data and add new data
- In append 'a' mode it will add the data to the existing data

In [23]:
file = open('data .com.txt', 'w')
file.write("Hi My name is mallesh\n")

22

In [24]:
file = open('data .com.txt', 'a')
file.write("I am excited to learn and improve my data science skills!\n")

58

In [25]:
file = open('data .com.txt', 'w')
lines = [
    "Hi My name is mallesh\n",
    "I am learning data science from Teks academy Hitech city branch\n",
    "And my timing are 5:30-6:30\n"
]
file.writelines(lines)

In [26]:
file = open('data .com.txt', 'a')
file.write("I am excited to learn and improve my data science skills!\n")

58

#**closing the file**
- Always close a file after completing operations to free up the systems resources

In [27]:
file.close()

#**Exception Handling in files**
- If an exception occurs when we are performing some operator with the file the code exists without closing the file

- A safer way is to use a try .... finally or

                    try .... except

In [28]:
try:
    file = open('data .com.txt', 'r')
    read=file.read()
    print(read)


finally:
    file.close()

Hi My name is mallesh
I am learning data science from Teks academy Hitech city branch
And my timing are 5:30-6:30
I am excited to learn and improve my data science skills!

In [29]:
try:
    result=num/den
    print(result)

except:
    print("given den is zero")

given den is zero

In [31]:
num=int(input("enter the num:"))
den=int(input("enter the num:"))

enter the num:5
enter the num:3

In [32]:
try:
    result=num/den
    print(result)

except:
    print("given den is zero")

1.6666666666666667

#**Regular Expressions**
- useful for NLP
- we can easily clean the data
- used for pattern matching , text manipulation
- flexible way to search ,match,manipulate the text data


#**Regular Expressions Functions**
- The 're' module offers a set of functions that allows us to search a string for a match
- there are 4 main functions
1.findall():

- returns a list of containing all matches

In [35]:
import re
user=input("enter the char:")
txt="hello world"
x=re.findall(user,txt)
print(x)

enter the char:d
['d']

In [40]:
import re
user=input("enter the char:")
txt="Hello world"
x=re.findall(user,txt)
if x:
    print("matched",x)
else:
    print("not matched",x)

enter the char:l
matched ['l', 'l', 'l']

In [42]:
import re
txt = "hello world"
x = re.findall("ell", txt)
if x:
    print("matched",x)
else:
    print("not matched",x)

matched ['ell']

2.Search():
- Searches for the string for a match and returns a match object,if there is a match
- If there is more than one match ,only the first occurence of the match will be returned

In [43]:
import re
txt="the rain in spain"
x=re.search('i',txt)
print(x.start())

6

In [44]:
import re
txt="the rain in spain"
x=re.search('sp',txt)
print(x.start())

12

3.split():

- used to return a list where the string has been split at each match

In [45]:
import re
txt="the rain in spain"
x=re.split('i',txt)
print(x)

['the ra', 'n ', 'n spa', 'n']

In [46]:
import re
txt="the rain in spain"
x=re.split('in',txt)
print(x)

['the ra', ' ', ' spa', '']

In [47]:
import re
txt="the rain in spain"
x=re.split(' ',txt)
print(x)

['the', 'rain', 'in', 'spain']

In [48]:
import re
txt="the rain in spain"
x=re.split('n',txt,2)
print(x)

['the rai', ' i', ' spain']

4.sub():

- replaces the matches with the text of your choice

In [49]:
import re
txt="the rain in india"
x=re.sub("h","u",txt)
print(x)

tue rain in india

In [50]:
import re
txt="the rain in india"
x=re.sub("h","12",txt)
print(x)

t12e rain in india

#Remaining Functions
1.Literal characters:

- that match exactly as they appear

In [51]:
import re
pattern = re.compile(r's')
match = pattern.search('say hello to sushma')
if match:
    print('match found:', match.group())
else:
    print('match not found')

match found: s

In [52]:
import re
pattern = re.compile(r'sus')
match = pattern.search('say hello to sushma')
if match:
    print('match found:', match.group())
else:
    print('match not found')

match found: sus

2.Dot(.)wild card:

- is a special character that matches any single character except a newline

In [53]:
import re
pattern = r"f..g"
text = "fog, frog, flag"
matches = re.findall(pattern, text)
if match:
    print("match found:" ,matches)
else:
    print("match not found")

match found: ['frog', 'flag']

In [54]:
import re
pattern = r"c.t"
text = "cat, dog, cut, mouse"
matches = re.findall(pattern, text)
if match:
    print("match found:" ,matches)
else:
    print("match not found")

match found: ['cat', 'cut']

3.Square brackets[ ]:

- define a character class, allowing you to match any one of several specified characters at a given position in the pattern.

In [55]:
import re
pattern = re.compile(r'[Hhello]')
match = pattern.search('Hello')
if match:
    print('Match found:', match.group())
else:
    print('Match not found')

Match found: H

In [56]:
import re
pattern = re.compile(r'[Hh]ello')
match = pattern.search('Hello')
if match:
    print('Match found:', match.group())
else:
    print('Match not found')

Match found: Hello

In [57]:
import re
text = "cat, bat, rat, mat"
pattern = r"[crm]at"
matches = re.findall(pattern, text)
if match:
    print('Match found:', matches)
else:
    print('Match not found')

Match found: ['cat', 'rat', 'mat']