#**Inheritence**
- way of creating a new class from an existing class without any mofifying it
- The newly formed class is derived class and also called as Child class
- The existing class is called base class or Child class
- we can have 1 parent class - 2 child classes or
1 parent class - 1 child class
- First we need to create the base class and using base class we can create the child class

In [5]:
class person:

    def __init__(self,name,age):
        self.name=name
        self.age=age

class yogesh(person):
    def Myname(self):
        print("My name is yogesh")

class pavan(person):
    def Myname(self):
        print("My name is pavan")

In [6]:
s = yogesh("yogesh", 25)
h = pavan ("pavan", 30)
print(s.age)
print( h.age)

25
30

In [7]:
s.Myname()
h.Myname()

My name is yogesh
My name is pavan

In [18]:
class bike:

    def color(self):
        print("The color is red")

    def sound(self):
        print("The sound is keek keek!")

class Hero(bike):

    def Brand(self):
        print("The Brand name is hero")

class FZ(bike):

    def Brand(self):
        print("The Brand name is hero")

In [19]:
a=Hero()
a.color()
a.sound()
a.Brand()

The color is red
The sound is keek keek!
The Brand name is hero

In [20]:
b=FZ()
b.color()
b.Brand()

The color is red
The Brand name is hero

In [22]:
class Teks:

    def datascience(self):
        print("It is DS")

    def dataanalyst(self):
        print("It is DA")

    def python(self):
        print("It is included")

class Hitech(Teks):

    def Branch(self):
        print("It is in Hitech city")

class Ammerpet(Teks):

    def Branch(self):
        print("It is in Ameerpet location")

In [23]:
a=Hitech()
a.datascience()
a.python()
a.Branch()

It is DS
It is included
It is in Hitech city

In [24]:
b=Ammerpet()
b.dataanalyst()
b.Branch()

It is DA
It is in Ameerpet location