#1) define about tuples
- A tuple is a data type that represents an ordered, immutable(unchangeable) sequence of elements
- Tuples are similar to lists, but the keys differences is that tuples cannot be modified once they are created
- they are defined using parenthese() and elements are represented by commas,

**Features of python tuple**
- Tuples are a immutable data type, meaning their elements cannot be changed after they are generated
- Each element in a  tuple has a specific order that will never change because tuples are ordered sequences.

**Immutability**
- once a tuple is created, you cannot change its elements or add/remove elements

In [1]:
#example
fruits=("apple","banana","cherry")
print(fruits)
fruits[1]="orange"

('apple', 'banana', 'cherry')

TypeError: 'tuple' object does not support item assignment

#2) create 10 examples using tuples

In [2]:
#Empty tuple
empty_tuple=()

In [3]:
#tuple  with elements
fruits=("apple","banana","cherry")
fruits
print(type(fruits))

<class 'tuple'>

In [5]:
#mixed data types
mixed_tuple=(1,"hello",3.14,True)
print (mixed_tuple)

(1, 'hello', 3.14, True)

In [8]:
#single element tuple
single_element_tuple=(67,)
print(type(single_element_tuple))
print(single_element_tuple)

<class 'tuple'>
(67,)

In [12]:
name="rakesh"

age=25
CGPA=8.5
student_details=(name,age,CGPA)
print(student_details)
print(type(student_details))

('rakesh', 25, 8.5)
<class 'tuple'>

In [14]:
student_details1=("rakesh",25,8.5)
student_details2=("varun",25,6.7)
student_details3=("rakesh",22,7.5)
print(student_details1)
print(student_details2)
print(student_details3)
print(type(student_details1),type(student_details2),type(student_details3))

('rakesh', 25, 8.5)
('varun', 25, 6.7)
('rakesh', 22, 7.5)
<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [24]:
x=(11,22,33,44,55,66,77,88,99,100)
print(x)
print("datatype of y is",type(x))
fruits=("apple","banana","cherry")
print(fruits)
print("datatype of fruits =",type(fruits))

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)
datatype of y is <class 'tuple'>
('apple', 'banana', 'cherry')
datatype of fruits = <class 'tuple'>

#3) create a tuple 10 examples and access index and apply slicing.
**Accessing of tuples**
- Tuples support indexing and slicing , just like lists

In [25]:
#index
fruits=("apple","banana","cherry")
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(type(fruits))

apple
banana
cherry
<class 'tuple'>

In [26]:
#slicing
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
print(fruits[2:5])
print(fruits[:5])
print(fruits[2:])
print(type(fruits))

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>

In [27]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
print(fruits[-4:-1])
print(fruits[:-1])
print(fruits[-3:])
print(type(fruits))

('orange', 'kiwi', 'melon')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')
('kiwi', 'melon', 'mango')
<class 'tuple'>

In [29]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
print(fruits[1:5])
print(fruits[:2])
print(type(fruits))

('banana', 'cherry', 'orange', 'kiwi')
('apple', 'banana')
<class 'tuple'>

In [30]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
print(fruits[3])
print(fruits[2])
print(fruits[1])
print(fruits[0])
print(fruits[-4:-1])
print(fruits[-3:])
print(fruits[:-1])
print(type(fruits))

orange
cherry
banana
apple
('orange', 'kiwi', 'melon')
('kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')
<class 'tuple'>

#4) tuple operations

1) concatenation
- combining two tuples

In [31]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
numbers=(1,2,3,4,5,6,7,8,9,10)
fruits_numbers=fruits+numbers
print(fruits_numbers)
print(type(fruits_numbers))

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

2)Repetition
- repeating a tuple

In [32]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
fruits_repeated=fruits*3
print(fruits_repeated)
print(type(fruits_repeated))
numbers=(1,2,3,4,5,6,7,8,9,10)
numbers_repeated=numbers*2
print(numbers_repeated)
print(type(numbers_repeated))
fruits_numbers_repeated=fruits+numbers*2
print(fruits_numbers_repeated)
print(type(fruits_numbers_repeated))

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

#5) Tuple methods
- Tuple have limited methods compared to lists due to the Immutability

1) count():
- Returns the number of occurrences of a specified value

In [34]:
number=(1,3,2,7,4,9,10,3,4,9,7,6,11,10,5,3,5,0,22,3,6,8)
count_of_number=number.count(3)
print(count_of_number)

4

In [36]:
fruits=("apple","banana","cherry","orange","kiwi","melon","mango","apple","banana","cherry","orange","melon","mango","apple","banana","orange","kiwi","melon","mango")
count_of_fruits=fruits.count("apple")
print(count_of_fruits)

3

2) Index():
- Returns the index of the first occurrence of a specified value

In [38]:
numbers=(1,2,3.,4,5,6,7,8,9,10)
index_of_number=numbers.index(5)
print(index_of_number)
fruits=("apple","banana","cherry","orange","kiwi","melon","mango")
index_of_fruits=fruits.index("cherry")
print(index_of_fruits)

4
2