# Explain about operaters and define the type of operator in python
- In Python programming, Operators in general are used to perform operations on values and variables. These are standard symbols used for logical and arithmetic operations. In this article, we will look into different types of Python operators.
- OPERATORS: These are the special symbols. Eg- + , * , /, etc.
- OPERAND: It is the value on which the operator is applied

- 7 types of operators in python

1) Arithmetic operator

2) Assgement operattor

3) Comparsion operator

4) Logical operator

5) Identity operator

6) Membership opertor

7) Bitwise opertor

# Explain each and every operators with 10 Examples

**1) Arithmetic operator**

Arithmetic oprtator are used with numeric values to perform common mathematical operation

- Addition +
- subtraction -
- Multiplication *
- Division /
- Modulus %
- Exponentitation //

In [2]:
# Examples Arithmetic operator
A=20
B=43
print(A+B)
print(A-B)
print(A*B)
print(A/b)
print(A%B)
print(A//B)

63
-23
860
0.8695652173913043
20
0

In [3]:
x=66
y=55
z=44
print(x+y+z)
print(x-y-z)
print(x*y*z)
print(x/y/z)
print(x%y%z)
print(x//y//z)

165
-33
159720
0.02727272727272727
11
0

**2) Assignment Operater**
- Assignment operators are used to assign values to variables
- Assignment operators like a+=b so it store in only 3 bits and c=a+b it store in 5 bits.Assignment operater will reduce the memorey

- Assigment operater  =
- Addition Assigment  +=
- subratction Assigment  -=
- multplication Assigment  *=
- division Assigment /=
- Remainder Assigment %=
- Exponent Assigment **=

In [9]:
#Examples Assignment Operater
a=28
b=67
a=b
print(a)
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a%=b
print(a)
a**=b
print(a)

67
134
67
4489
67.0
0.0
0.0

**3) Compraison operater**
- comparison operators are used to compare two values
- comparison operators are used to compare values and return either True or False.
- They can be used to compare different values in python ,such as integers or strings
- Equal ==
- Not equal !=
- Greater than >
- less than <  
- Greater than or equal to >=
- less than or equal to <=

In [20]:
#examples
a=88
b=43
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

**4) Logical operators**
- logical operators are used to combine conditional satatements that TRUE ,FALSE if condition satisfy TRUE not satify FALSE
- **and** the condition is L.H.S and R.H.S will satisfy the output is TRUE, if L.H.S Satisfy and R.H.S will not satisfy the output is FALSE.
- **or** the condition is L.H.S and R.H.S in this any one either L.H.S or R.H.S is satisfy the output will be TRUE
- **not** opertor is oppiste to and ,or operators

In [23]:
#and
45==45 and 56>47

True

In [25]:
#0r
65>76 or 89==89

True

In [27]:
#not
not(45==45 and 56>47)

False

**5) Identity operators**
- Identity operators are used to compare the objects, not if they are equal, but if they are actually the same objects, with the same memory location
- **is** if both variables are the same object
- **is not** if both variables are not the same object

In [30]:
x=6
y=9
print (x is y)
print (x is not y)

False
True

In [32]:
a=33
b=33
print (a is b)
print (a is not b)

True
False

**Membership operators**
- Membership operators are used to test if sequence is presented in an object
- **in** Return True if a sequence with the specified value is present in the object
- **not in** Return True if a sequence with the specified value is not present in the object

In [51]:
u=[3,2,4,5,1]
print (1 in u)
print (1 not in u)

True
False

In [61]:
course ="DATA SCIENCE"
print("a" in course)
print("A" in course)
print("S" not in course)

False
True
False

**7) Bitwise operators**
- Bitwise operators are used to compare (binary) numbers
- **&** AND
- **|** OR
- **^** XOR
- **~** NOT
- **<<** Zero fill left shift
- **>>** Signed right shift

In [62]:
a=3
b=5
print(a&b)
print(a|b)

1
7