#1) Define about string
- In python, a string is a sequence of characters.
-  for example, "hello" is a string containing a sequence of characters 'h' , 'e' , 'l' , 'l' , and 'o' .
- we use single quotes or double qutoes to represent a string in python.
- string is most commonly used data types and they are used to represent text
- string can allow empty strings and space is also a charaters in strings
- the string class represented by "str"
- we can perform string in various operations and use methods to manipulate and work with string.

#2) create a 10 elements using single qutoes and double qutoes

In [61]:
c1 = '234+442j'
print(c1)

d = "Data \n science"
print(d)

e = 'games'
print(e)

f = ""
print("Empty string \n",f)

g = " "
print("space in string \n",g)

h = "wel-come to basara "
print(h*6)

i = "WELCOME  TO PYTHON PROGRAMMING LANGUAGE:) \n"
print(i*10)

j = 'WELCOME TO \n PYTHON PROGRAMMING LANGUAGE \n'
print(j*8)

k = """ This is
                an example for
                                triple quotes"""
print(k)

print(type(i))

234+442j
Data
 science
games
Empty string

space in string

wel-come to basara wel-come to basara wel-come to basara wel-come to basara wel-come to basara wel-come to basara
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)

WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE

 This is
                an example for
                                triple quotes
<class 'str'>

#3) create a sting 50 characters and access any 10 using index and apply slicing any 2 examples

In [66]:
string = "Hyderabad is best the place to have biryani in the whole world"
print(len(string))
#indexing
print("1 character index 0=",string[0])
print("62 character index 7=",string[7])
print("0character index =",string[0])
print("-2 character index 0=",string[0])
print("-44 string character index -16=",[-1])
print("7 character index 6 = ",string[6])
print("15 character index 14 = ",string[14])
print("22 character index 21 = ",string[21])
print("70 character index -1 = ",string[-1])
print("65 character index -5 = ",string[-5])
#slicing
print("Slcing of first 56 characters = ",string[:56])
print("Slcing from 22 to 50 charater = ",string[32:44])
print("Slcing of last 15 characters = ",string[-2:])
print("Slcing of -28 to -5 = ",string[-28:-5])
70

62
1 character index 0= H
62 character index 7= a
0character index = H
-2 character index 0= H
-44 string character index -16= [-1]
7 character index 6 =  b
15 character index 14 =  e
22 character index 21 =
70 character index -1 =  d
65 character index -5 =  w
Slcing of first 56 characters =  Hyderabad is best the place to have biryani in the whole
Slcing from 22 to 50 charater =  ave biryani
Slcing of last 15 characters =  ld
Slcing of -28 to -5 =  e biryani in the whole

70

#4) EXPLAIN ABOUT STRING FORMAT
- String format are classified into three types they are
1. Old Style Format(% operator)
2. Format Method
3. String Interpolation(f-string)

1. Old Style Foarmat(% operation)

- Uses the % operator and placeholders

In [71]:
#Example for % opertor
village = "nizamabad"
distance = 200
string = "My village is %s and the distance from hyderabad %fkilometers"%(village,distance)
print(string)

My village is nizamabad and the distance from hyderabad 200.000000kilometers

2.Format Method

- Uses the format() method with placeholder

In [78]:
#Example for format method
village = "nizamabad"
distance = 200
string = "My village is {} and the distance from hyderabad {} kilometers".format(village,distance)
print(string)

My village is nizamabad and the distance from hyderabad 200 kilometers

3.String Interpolation(f-string)

- f-string is used where expressions inside curly brackets { } are evaluted and replaced

In [79]:
#Example for f-string
name = "malleshr"
age = 22
loc = "hitech city"
string = f"My name is {name} and I am {age} years old and I am from {loc}."
string1 = f"My name is {name} \n I am {age} years old \n I am from {loc}."
print(string)
print(string1)

My name is malleshr and I am 22 years old and I am from hitech city.
My name is malleshr
 I am 22 years old
 I am from hitech city.

#5)apply operations
1.concatnation:

- adding of things

In [80]:
#concatenation
a="my village is"
b="nizamabad"
c=a+' '+b
print(c)

my village is nizamabad

2.repetition:

- repeat values of a string

In [83]:
#repetition
str1="my village is niamabad "
str2=str1*5
print(str2)

my village is niamabad my village is niamabad my village is niamabad my village is niamabad my village is niamabad

3.slicing:

- slicing is a process of extracting a substring from a string

In [92]:
#slicing
string = "my village is niamabad"
print(string[4:15])
print(string[-2:])
print(string[:-15])
print(string[:39])

illage is n
ad
my vill
my village is niamabad

4.indexing:
- accessing individual character in a string

In [94]:
#Example for Indexing
line = "my village is nizamabad \n "
print(line[11])
print(line[-4])

i
d

#6) apply methods
1.len():
-  counts the characters in a string

In [95]:
#example
my_string="hello "
print(len(my_string))

6

2.lower()/upper():
- converts entire data into lower/upper

In [96]:
#example
my_string="hello"
print(my_string.upper())

HELLO

3.strip():
- used to remove spaces beggining and ending

In [97]:
#example
my_string="  python  "
stripped_string=my_string.strip()
print(stripped_string)

python

4.replace():
- replace substring with another substring

In [99]:
#example
my_string="my name is mallesh"
str=my_string.replace("akshaya","pavani")
print(str)

my name is mallesh

5.split:
- splits the one string into substring

In [100]:
#example
str="my name is mallesh"
str1=(str.split())
print(str1)

['my', 'name', 'is', 'mallesh']

6.join:
- it joins the substring all into one string

In [101]:
#example
name=['sathayam','kanna','pavan','yogesh']
print(" ".join(name))

sathayam kanna pavan yogesh