#1) Define about string
- In python, a string is a sequence of characters.
-  for example, "hello" is a string containing a sequence of characters 'h' , 'e' , 'l' , 'l' , and 'o' .
- we use single quotes or double qutoes to represent a string in python.
- string is most commonly used data types and they are used to represent text
- string can allow empty strings and space is also a charaters in strings
- the string class represented by "str"
- we can perform string in various operations and use methods to manipulate and work with string.

#2) create a 10 elements using single qutoes and double qutoes

In [ ]:
c1 = '234+442j'
print(c1)

d = "Data \n science"
print(d)

e = 'games'
print(e)

f = ""
print("Empty string \n",f)

g = " "
print("space in string \n",g)

h = "wel-come to basara "
print(h*6)

i = "WELCOME  TO PYTHON PROGRAMMING LANGUAGE:) \n"
print(i*10)

j = 'WELCOME TO \n PYTHON PROGRAMMING LANGUAGE \n'
print(j*8)

k = """ This is
                an example for
                                triple quotes"""
print(k)

print(type(i))

234+442j
Data
 science
games
Empty string

space in string

wel-come to basara wel-come to basara wel-come to basara wel-come to basara wel-come to basara wel-come to basara
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)
WELCOME  TO PYTHON PROGRAMMING LANGUAGE:)

WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE
WELCOME TO
 PYTHON PROGRAMMING LANGUAGE

 This is
                an example for
                                triple quotes
<class 'str'>

#3) create a sting 50 characters and access any 10 using index and apply slicing any 2 examples

In [ ]:
string = "Hyderabad is best the place to have biryani in the whole world"
print(len(string))
#indexing
print("1 character index 0=",string[0])
print("62 character index 7=",string[7])
print("0character index =",string[0])
print("-2 character index 0=",string[0])
print("-44 string character index -16=",[-1])
print("7 character index 6 = ",string[6])
print("15 character index 14 = ",string[14])
print("22 character index 21 = ",string[21])
print("70 character index -1 = ",string[-1])
print("65 character index -5 = ",string[-5])
#slicing
print("Slcing of first 56 characters = ",string[:56])
print("Slcing from 22 to 50 charater = ",string[32:44])
print("Slcing of last 15 characters = ",string[-2:])
print("Slcing of -28 to -5 = ",string[-28:-5])
70

62
1 character index 0= H
62 character index 7= a
0character index = H
-2 character index 0= H
-44 string character index -16= [-1]
7 character index 6 =  b
15 character index 14 =  e
22 character index 21 =
70 character index -1 =  d
65 character index -5 =  w
Slcing of first 56 characters =  Hyderabad is best the place to have biryani in the whole
Slcing from 22 to 50 charater =  ave biryani
Slcing of last 15 characters =  ld
Slcing of -28 to -5 =  e biryani in the whole

70

#4) EXPLAIN ABOUT STRING FORMAT
- String format are classified into three types they are
1. Old Style Format(% operator)
2. Format Method
3. String Interpolation(f-string)

1. Old Style Foarmat(% operation)

- Uses the % operator and placeholders

In [ ]:
#Example for % opertor
village = "nizamabad"
distance = 200
string = "My village is %s and the distance from hyderabad %fkilometers"%(village,distance)
print(string)

My village is nizamabad and the distance from hyderabad 200.000000kilometers

2.Format Method

- Uses the format() method with placeholder

In [ ]:
#Example for format method
village = "nizamabad"
distance = 200
string = "My village is {} and the distance from hyderabad {} kilometers".format(village,distance)
print(string)

My village is nizamabad and the distance from hyderabad 200 kilometers

3.String Interpolation(f-string)

- f-string is used where expressions inside curly brackets { } are evaluted and replaced

In [ ]:
#Example for f-string
name = "malleshr"
age = 22
loc = "hitech city"
string = f"My name is {name} and I am {age} years old and I am from {loc}."
string1 = f"My name is {name} \n I am {age} years old \n I am from {loc}."
print(string)
print(string1)

My name is malleshr and I am 22 years old and I am from hitech city.
My name is malleshr
 I am 22 years old
 I am from hitech city.

#5)apply operations
1.concatnation:

- adding of things

In [ ]:
#concatenation
a="my village is"
b="nizamabad"
c=a+' '+b
print(c)

my village is nizamabad

2.repetition:

- repeat values of a string

In [ ]:
#repetition
str1="my village is niamabad "
str2=str1*5
print(str2)

my village is niamabad my village is niamabad my village is niamabad my village is niamabad my village is niamabad

3.slicing:

- slicing is a process of extracting a substring from a string

In [ ]:
#slicing
string = "my village is niamabad"
print(string[4:15])
print(string[-2:])
print(string[:-15])
print(string[:39])

illage is n
ad
my vill
my village is niamabad

4.indexing:
- accessing individual character in a string

In [ ]:
#Example for Indexing
line = "my village is nizamabad \n "
print(line[11])
print(line[-4])

i
d

#6) apply methods
1.len():
-  counts the characters in a string

In [ ]:
#example
my_string="hello "
print(len(my_string))

6

2.lower()/upper():
- converts entire data into lower/upper

In [ ]:
#example
my_string="hello"
print(my_string.upper())

HELLO

3.strip():
- used to remove spaces beggining and ending

In [ ]:
#example
my_string="  python  "
stripped_string=my_string.strip()
print(stripped_string)

python

4.replace():
- replace substring with another substring

In [ ]:
#example
my_string="my name is mallesh"
str=my_string.replace("akshaya","pavani")
print(str)

my name is mallesh

5.split:
- splits the one string into substring

In [ ]:
#example
str="my name is mallesh"
str1=(str.split())
print(str1)

['my', 'name', 'is', 'mallesh']

6.join:
- it joins the substring all into one string

In [ ]:
#example
name=['sathayam','kanna','pavan','yogesh']
print(" ".join(name))

7.capitalize:
- it converts the first character to upper case

In [1]:
#example
a="hyderabad"
print(a.capitalize())

Hyderabad

8.casefold:
- it returns the string into lower case

In [2]:
#example
name="MallEsH"
print(name.casefold())

mallesh

9.center:
- it returns the centered string

In [3]:
#example
name="mallesh yadav"
print(name.center(77))

                                mallesh yadav

10.count:
- it represents the number of occurance of a string

In [4]:
#example
str="my name is mallesh"
print(str.count('is'))

1

11.find:
- it finds the string place and identifies it

In [5]:
#example
str="my name is mallesh"
print(str.find('is'))

8

12.encode:
- it returnes the encoded version of the string

In [7]:
#example
name="mallesh"
end=name.encode()
print(end)

b'mallesh'

13.endswith:
- it prints true if the string ends with the specified value

In [8]:
#example
name="hyderabad"
str=name.endswith('ba')
print(str)

False

14.format:
- it formats the specific tabs in the string

In [9]:
#example
name="mallesh"
age=21
formated_string="my name is {} and i'm {} years old" .format(name,age)
print(formated_string)

my name is mallesh and i'm 21 years old

15.expandtabs:
- it sets the string tab size

In [10]:
#example
text_with_tabs="my,\t name!\thow are you?"
str=text_with_tabs.expandtabs()
print(str)

my,      name!  how are you?

16.index:
-  it returns the position of the string and gives it index number

In [12]:
#example
name="mallesh"
print(name.index('e'))

4

17.isalnum:
- it returns true if the string is alphanumeric

In [15]:
#example
name="mallesh99"
print(name.isalnum())

True

18.isalpha:
- it returns true if all the characters in the string are alphabets

In [16]:
#example
name="mallesh99"
print(name.isalpha())

False

19.isascii:
- it returns true if all character in the string are ascii

In [17]:
#example
import string
str=string.ascii_uppercase
print(str)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

20.isdecimal:
- it returns true if all character in the string are decimals

In [18]:
#example
weight="75.5,54.6,30"
print(weight.isdecimal())

False

21.isdigit:
- it returns true if all character in a string are digits

In [19]:
#example
number="9"
print(number.isdigit())

True

22.isidentifier:
- it returns true if the string is an identifier and it cannot come true is they are numbers

In [20]:
#example
name="mallesh_99"
print(name.isidentifier())

True

23.islower:
- it returns true if all characters in the string are lowercase

In [25]:
name="HYDERABAD"
print(name.islower())
name="hyderabad"
print(name.islower())

False
True

24.isupper:
- it returns true if all character in the string are uppercase

In [24]:
name="HYDERABAD"
print(name.islower())
name="hyderabad"
print(name.islower())

False
True

25.isnumeric:
- it returns true if all character in the string are numeric

In [26]:
age="55,88"
print(age.isnumeric())
age="7"
print(age.isnumeric())

False
True

26.istitle:
- it returns true if the string is title cased

In [27]:
str="my name is mallesh"
print(str.istitle())

False

27.isspace:
- it returns true if all characters in the string are whitespaces

In [30]:
name="hyderabadadilabad"
print(name.isspace())

False

28.isprintable:
- it returns true if all character in the string are printable

In [31]:
name="mallesh"
print(name.isprintable())

True

29.lstrip:
- it returns a copy of tyhe string by removing starting whitespaces

In [32]:
#example
str="   hyderabad"
print(str.lstrip())

hyderabad

30.rstrip:
- it returns the string by removing the ending whitespaces

In [34]:
#example
str="hyderabad     "
print(str.rstrip())

hyderabad

31.splitlines:
- it will split the string and returns a list

In [35]:
#example
str="my\n name\n is\n mallesh\n"
c=str.splitlines()
print(c)

['my', ' name', ' is', ' mallesh']

32.ljust:
- the string methods returns a new string of a given length after substituting a given character in rightside of original string

In [38]:
#example
str="mallesh"
length=5
print(str.ljust(length))

mallesh

33.rjust:
- thsi method returns a new string of a given length after substituting a given character in leftside of original string

In [39]:
#example
str="mallesh"
length=7
print(str.rjust(length))

mallesh

34.zfill:
- it returns a copy of the string with 0 characters padded to the left side of the given string

In [43]:
#example
name="my name is mallesh"
print(name.zfill(17))
print(name.zfill(25))
print(name.zfill(40))

my name is mallesh
0000000my name is mallesh
0000000000000000000000my name is mallesh

35.swapcase:
- converts all uppercase characters to lowercase and viceversa

In [44]:
#example
str="MallEsh"
print(str.swapcase())

str="mallesh"
print(str.swapcase())

ste="MALLESH"
print(str.swapcase())

mALLeSH
MALLESH
MALLESH

36.startswith:
- returns true if a string starts with the given prefix

In [45]:
str="mallesh"
print(str.startswith("Mallesh"))

False

37.rindex:
- returns the highest index of the substring inside the string

In [46]:
str='mallesh for mallesh'
name=str.rindex('mallesh')
print("substring 'mallesh':",name)

substring 'mallesh': 12

38.rfind:
- returns the highest index of the substring

In [48]:
str="malleshformallesh"
print(str.rfind("mallesh"))

10

39.format_map:
- formats specified values in a string using a dictionary

In [49]:
a={'x':'hyderabad','y':'nirmal'}
print("{x}'s last name is {y}".format_map(a))

hyderabad's last name is nirmal

40.translate: modify string according to given translation mapping

In [51]:
translation={103:None,101:None,101:None}
str="mallesh"
print("translated string:",str.translate(translation))

translated string: mallsh