#1.python while looop:
- while loop is used to run to used to run a block code untila certain conditions is met.
- the syntax of while loop is:

while condition : # body of while loop

Here,

- A while loop evaluates the condition
- If the condition evaluates to true, the code inside the while loop is executed
- Condition is evaluated again
- this process continues until the condition is false.
- when condition evaluates to false, the loop stops

In [ ]:
# program to display number from 1 to 5
# initialize the variable
i= 10
# while loop from i = 1 to 5
while i<= 50:
  print(i)
  i=i+10 # increment

10
20
30
40
50

#2.For loop

- the for loop is used for iterates over the sequence of the data(that is either a list, tuple, dictionary, string (or) orange).

- outps will always be given in vertical format

- syntax :

for val in sequence : #statement

here,value access each item of the sequence on each iteration

the loop continues until we reach the last item in the sequence

In [ ]:
#string
a="python"
for i in a:
  print (i)

p
y
t
h
o
n

In [ ]:
#list data
h=["A","B","c"]
for x in h:
   print (x)

A
B
c

In [ ]:
#tuple
tup=("hello","world","datascience")
for i in tup:
    print(i)

hello
world
datascience

In [ ]:
dict = {"name":"teks","Age":4,"location":"hi-tech city"}

for key,values in dict.items():
    print(key,values)

name teks
Age 4
location hi-tech city

In [ ]:
dict =  {"name":"teks","Age":4,"location":"hi-tech city"}
for key,value in dict.items():
    print(f"key is {key} and value is {value}")

key is name and value is teks
key is Age and value is 4
key is location and value is hi-tech city

In [ ]:
# Find the even nnumber and odd number in list
number =[1,2,3,4,5,6,7,8,9]
for i in number:
  if i % 2 ==0:
    print(i,"even number")
  else:
    print(i,"odd number")

1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number

In [ ]:
#vote eligibility

age=[12,56,34,7,84,5,23,78,18]
for i in age :
  if i >=18:
    print("vote",i)
  else :
    print("not vote",i)

not vote 12
vote 56
vote 34
not vote 7
vote 84
not vote 5
vote 23
vote 78
vote 18

#1Q:  write a python program to check given year is leap or not

In [ ]:
year=[2002,2003,2004,2005,2006,2007]
for y in year:
    if y % 4==0:
      print(f"{y}leap year")
    else:
      print(f"{y} not leap year")

2002 not leap year
2003 not leap year
2004leap year
2005 not leap year
2006 not leap year
2007 not leap year

#2Q: python program to find a given number even or odd

In [ ]:
numbers = 11,22,33,44,55,66,77,88,99

for i in numbers:
    if i%2==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

11 is odd
22 is even
33 is odd
44 is even
55 is odd
66 is even
77 is odd
88 is even
99 is odd

#3Q: python program to check if a list is empty or not

In [ ]:
lst = []

for item in lst:
    print("The list is not empty.")
    break
else:
    print("The list is empty.")

The list is empty.

#4Q: python program to calculate grade of a students

In [ ]:


# Split the string into individual grade strings and convert to integers
grades = [32,78,87,97,65,87]

#Splitting the string into individual grade strings.
#Stripping whitespace from each grade string.

for mark in grades:
    if mark >= 90:
        print(f"{mark}: A")
    elif mark >= 80:
        print(f"{mark}: B")
    elif mark >= 70:
        print(f"{mark}: C")
    elif mark >= 60:
        print(f"{mark}: D")
    elif mark >= 50:
        print(f"{mark}: E")
    else:
        print(f"{mark}: F")

32: F
78: C
87: B
97: A
65: D
87: B

#5Q: check whether given word is a palindrome or not

In [4]:
word = input("Enter your word: ")
for i in word:
    if word ==i:
        print("The word is a palindrome.")
    else:
        print("The word is not a palindrome.")

Enter your word: mom
The word is not a palindrome.
The word is not a palindrome.
The word is not a palindrome.

#6Q.write a python program to find the smallest among the three number

In [17]:
smallest = float('inf')

for i in range(3):
    num = int(input(f"Enter number {i + 1}: "))
    if num < smallest:
        smallest = num

print(f"The smallest number is: {smallest}")

Enter number 1: 7
Enter number 2: 5
Enter number 3: 9
The smallest number is: 5

#7Q.find the second largest number in a list

In [20]:
my_list = [9,4,7,8]
largest = second_largest = 0

for num in my_list:
    if num > largest:
        second_largest = largest
        largest = num
    else:
        second_largest = num

print(second_largest)

8

#8Q.calculate Body Mass Index and categorize it

In [23]:
n=0
weight = float(input("Enter weight : "))
height = float(input("Enter height : "))

for n in range(1):  # Loop runs only once
    bmi = weight / (height ** 2)
    if bmi < 18.5:
        category = "Underweight"
    elif 18.5 <= bmi < 24.9:
        category = "Normal weight"
    elif 25 <= bmi < 29.9:
        category = "Overweight"
    else:
        category = "Obesity"
    print(f"Weight: {weight} , Height: {height} , Category: {category}")

Enter weight : 67
Enter height : 5.2
Weight: 67.0 , Height: 5.2 , Category: Underweight

#9Q:.python program to check vote eligiblity

In [25]:
age = [8,34,66,11,17,18,7]

for n in age:
    if n >= 18:
        print(f"Age {n} is  eligible")
    else:
        print(f"Age {n} is not eligible")

Age 8 is not eligible
Age 34 is  eligible
Age 66 is  eligible
Age 11 is not eligible
Age 17 is not eligible
Age 18 is  eligible
Age 7 is not eligible

#10Q:python program to find the person age belong to which group

In [26]:
i = 0
age = int(input("Enter your age: "))
for i in range(1):
    if age <= 22:
        print(f"Age {age} is School group")
    elif age > 22 and age <= 50:
        print(f"Age {age} is Work group")
    else:
        print(f"Age {age} is  Retire group")

Enter your age: 22
Age 22 is School group

# control statement:control flow of outpur
**1)pass**
- In python, the pass statement is used when the programmer wants to by pass any coding segment.

In [44]:
#example
num=[1,2,3,4,5,6]
for i in num:
 if i == 3:
        pass
 else:
     print(i)

1
2
4
5
6

**2)continue**:
# - python continue statement is a loop control statement that forces to execute the next iteration of the loop while skipping the rest of the code inside the loop for the current iteration only.

In [45]:
#example
num=[1,2,3,4,5,6]
for i in num:
 if i == 5:
        continue
 else:
     print(i)

1
2
3
4
6

**3)break:**
- the break statement is a control flow statement in python that allows you to exit a loop early when a certain condition is met:

In [46]:
#example
num=[1,2,3,4,5,6]
for i in num:
 if i == 3:
        break
 else:
     print(i)

1
2

In [52]:
#example:
for i in range (0,21):
 if i == 7:
     pass
 elif i==14:
    break
 else:
      print(i)

0
1
2
3
4
5
6
8
9
10
11
12
13