# 1) Define about list
- there are many builts-in types in python that allow us to group and store multiple items. pyothon lists are the most versatile among them.
- For example , we cwan use a python list to store a playlist of songs so that we can easily add,remove, and update songs as needed.
- we create a list by placing elements inside square brackets [ ], separated by commas. For example
- lists are :
- **Ordered**- they maintain the order of elements.
- **Mutable** - items can be changed after creation.
-**Allow duplicates** : They can contain duplicate values.

In [ ]:
#creating an empty list
my_list =[]
print(my_list)

[]

In [ ]:
#a list of three elements
ages = [21,23,34]
print(ages)

[21, 23, 34]

**Access list elements**
- in python lists are ordered and each item in a lists is associated with a number is known as a list index.
- The index of first item is 0, the index of second item is 1, and so on.
- Python allows negative indexing for its squences.
- The index of -1 refers to the last item, -2 to second last item and so on.

In [ ]:
# positive
name=["mallesh","kanna","pavan","yogesh"]
print(name[1])
print(name[0])

kanna
mallesh

In [ ]:
#negative
name=["mallesh","kannna","pavan","yogesh"]
print(name[-1])
print(name[-2])

yogesh
pavan

**Slicing of a list**
- In python, it is possible to access a section of items from the list using the slicing operator : .
- variable_name [start_index : End_index].......n-1 only for end_index

In [ ]:
#positive
my_name = ["yogesh","pavan","kanna","sathyam","mahipal","ganesh","ramu","rakesh","sai","arun"]
print(my_name[3:9])
print(my_name[8])
print(my_name[3:])

['sathyam', 'mahipal', 'ganesh', 'ramu', 'rakesh', 'sai']
sai
['sathyam', 'mahipal', 'ganesh', 'ramu', 'rakesh', 'sai', 'arun']

In [ ]:
#positive
my_name = ["yogesh","pavan","kanna","sathyam","mahipal","ganesh","ramu","rakesh","sai","arun"]
print(my_name[-6:-2])
print(my_name[-9:-3])
print(my_name[-5:-1])

['mahipal', 'ganesh', 'ramu', 'rakesh']
['pavan', 'kanna', 'sathyam', 'mahipal', 'ganesh', 'ramu']
['ganesh', 'ramu', 'rakesh', 'sai']

**List operation**

1) Concatenation
- it means add together . use the + character to add a variable to another variable

In [ ]:
a= [1,2,3,4]
b= [1,3,4,5,9]
c= a+b
print(c)

[1, 2, 3, 4, 1, 3, 4, 5, 9]

2) Repetition
- The repetition operator is denoted by a symbol '*' symbol and is useful for repeating strings to a certain length

In [ ]:
a=[3,4,6,9,12]
b=a*4
print(b)

[3, 4, 6, 9, 12, 3, 4, 6, 9, 12, 3, 4, 6, 9, 12, 3, 4, 6, 9, 12]

#2) create 10 examples for list from different data types

In [17]:
#examples
#int
int=[1,35,63,23,9,11,45,22]
print("int",int)
#float
float=[1.05,2.34,4.65,3.78,0.1,2.3,33.45]
print("float",float)
#int and float
int_float=[7,2.5,7,99.45,99,4.65,56]
print("int_float",int_float)
#complex
com=[9+2j,2+1j,9+22j,45+3.3j,22+0j]
print("complex",com)
#string
list=["rice","oil","soap","sugar","moondal","tomato","groundnut","chillipowder"]
print("list",list)
#int_string
int_string=[22,"rice",5,"oil","moondal",54,32]
print("int_sring",int_string)
#Boolean
bool=[True,False,True,True,False]
print("Boolean",bool)
name=["mallesh","pavan","yogesh","kanna","sathyam"]
print("name",name)
var=[24,5.45,"yogesh","pavan",2+6j,8,True,False,(4+5j),(3.14+4.2j)]
all=[24,3.45,'data_science',(4+7j),True,False,'apple']

int [1, 35, 63, 23, 9, 11, 45, 22]
float [1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45]
int_float [7, 2.5, 7, 99.45, 99, 4.65, 56]
complex [(9+2j), (2+1j), (9+22j), (45+3.3j), (22+0j)]
list ['rice', 'oil', 'soap', 'sugar', 'moondal', 'tomato', 'groundnut', 'chillipowder']
int_sring [22, 'rice', 5, 'oil', 'moondal', 54, 32]
Boolean [True, False, True, True, False]
name ['mallesh', 'pavan', 'yogesh', 'kanna', 'sathyam']

#3) Create a list with 15 Elements you need to access each and every element from list both postive and negitive

In [24]:
lodges=["akshara","deepa","laxmi","sharadha","kamadhenu","devi","krishana","hirvani","vnr","gayathri","manasa","shindhu","tjrao","himaja","harihara"]
#postive
print("Index of 1 :",lodges[1])
print("Index of 7 :",lodges[7])
print("Index of 0 :",lodges[0])
print("Index of 14 :",lodges[14])
print("Index of 11 :",lodges[11])
#negative
print("Index of -6 :",lodges[-6])
print("Index of -1 :",lodges[-1])
print("Index of -14 :",lodges[-14])
print("Index of -10 :",lodges[-10])
print("Index of -8 :",lodges[-8])
print(lodges)

Index of 1 : deepa
Index of 7 : hirvani
Index of 0 : akshara
Index of 14 : harihara
Index of 11 : shindhu
Index of -6 : gayathri
Index of -1 : harihara
Index of -14 : deepa
Index of -10 : devi
Index of -8 : hirvani
['akshara', 'deepa', 'laxmi', 'sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao', 'himaja', 'harihara']

#4) Apply slicing on 15 elements with positive and negitive index

In [29]:
lodges=["akshara","deepa","laxmi","sharadha","kamadhenu","devi","krishana","hirvani","vnr","gayathri","manasa","shindhu","tjrao","himaja","harihara"]
#slicing using positive index
print("Index of 0 to 13 :",lodges[0:13])
print("Index of 3 to 7 :",lodges[3:7])
print("Index of 3 to end :",lodges[3:15])
print("Index of frist 4 :",lodges[:4])
print("Index of 34 :",lodges[:34])
#slicing using negative index
print("Index of -7 to -3 :",lodges[-7:-3])
print("Index of -14 to -1 :",lodges[-14:-1])
print("Index of  first -2 :",lodges[:-2])
print("Index of -6 to -1  :",lodges[-6:-1])
print("Index of -35 :",lodges[:-35])

Index of 0 to 13 : ['akshara', 'deepa', 'laxmi', 'sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao']
Index of 3 to 7 : ['sharadha', 'kamadhenu', 'devi', 'krishana']
Index of 3 to end : ['sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao', 'himaja', 'harihara']
Index of frist 4 : ['akshara', 'deepa', 'laxmi', 'sharadha']
Index of 34 : ['akshara', 'deepa', 'laxmi', 'sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao', 'himaja', 'harihara']
Index of -7 to -3 : ['vnr', 'gayathri', 'manasa', 'shindhu']
Index of -14 to -1 : ['deepa', 'laxmi', 'sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao', 'himaja']
Index of  first -2 : ['akshara', 'deepa', 'laxmi', 'sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao']
Index of -6 to -1  : ['gayathri', 'manasa', 'shindhu', 'tjrao', 'himaja']
Index of -35 : []

#5)concatenation list 5 examples

In [36]:
a=var+bool
print(a)
b=float+com
print(b)
c=int+float
print(c)
d=lodges+int_float
print(d)
e= name + all
print(e)

[24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), True, False, True, True, False]
[1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, (9+2j), (2+1j), (9+22j), (45+3.3j), (22+0j)]
[1, 35, 63, 23, 9, 11, 45, 22, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45]
['akshara', 'deepa', 'laxmi', 'sharadha', 'kamadhenu', 'devi', 'krishana', 'hirvani', 'vnr', 'gayathri', 'manasa', 'shindhu', 'tjrao', 'himaja', 'harihara', 7, 2.5, 7, 99.45, 99, 4.65, 56]
['mallesh', 'pavan', 'yogesh', 'kanna', 'sathyam', 24, 3.45, 'data_science', (4+7j), True, False, 'apple']

#6) repitation  list with five examples

In [38]:
x=int*3
print(x)
y=var*7
print(y)
z=int+float
a=z*4
print(a)
b=float*6
print(b)
c=name*4
print(c)

[1, 35, 63, 23, 9, 11, 45, 22, 1, 35, 63, 23, 9, 11, 45, 22, 1, 35, 63, 23, 9, 11, 45, 22]
[24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), 24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), 24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), 24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), 24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), 24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j), 24, 5.45, 'yogesh', 'pavan', (2+6j), 8, True, False, (4+5j), (3.14+4.2j)]
[1, 35, 63, 23, 9, 11, 45, 22, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1, 35, 63, 23, 9, 11, 45, 22, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1, 35, 63, 23, 9, 11, 45, 22, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1, 35, 63, 23, 9, 11, 45, 22, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45]
[1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45, 1.05, 2.34, 4.65, 3.78, 0.1, 2.3, 33.45]
['mallesh', 'pavan', 'yogesh', 'kanna', 'sathyam', 'mallesh', 'pavan', 'yogesh', 'kanna', 'sathyam', 'mallesh', 'pavan', 'yogesh', 'kanna', 'sathyam', 'mallesh', 'pavan', 'yogesh', 'kanna', 'sathyam']

#7) modification of elements  in a a list of elements using index  and slicing

In [40]:
names = ["ram","raju","sai","ravi","mani","yogesh","pavan","shiva","arun","ganesh","suraj","mallesh","vikram","suresh","ramesh","amar"]

# index

A = names.index ("yogesh")
print(A)

j = names.index ("mani")
print(j)

C = names.index ("arun")
print(C)

nn = names.index ("suraj")
print(nn)

E = names.index ("vikram")
print(E)

# slicing

print(names[3:15])

print(names[ :8])

print(names[14: ])

print(names[-12:-2])

print(names[ :-11])

print(names[-15: ])

5
4
8
10
12
['ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh']
['ram', 'raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva']
['ramesh', 'amar']
['mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh']
['ram', 'raju', 'sai', 'ravi', 'mani']
['raju', 'sai', 'ravi', 'mani', 'yogesh', 'pavan', 'shiva', 'arun', 'ganesh', 'suraj', 'mallesh', 'vikram', 'suresh', 'ramesh', 'amar']

5) List methods
- There are mainly 9 methods
- Which are used to change the list,add the element,subtract the element,modify the element
- append(),extend(),insert(),remove(),pop(),index(),count(),sort(),reverse()
1.append() :

adds an element to the end of the list

In [42]:
numbers=[5,9,44,88]
numbers.append(321)
print(numbers)

[5, 9, 44, 88, 321]

2.extend():

- Appends elements from anaother list to the ends
- it ends the list using another list

In [44]:
numbers=[4,3,7,8]
numbers1=[4,8,2,1,9,0,5]
numbers.extend(numbers1)
print(numbers)

[4, 3, 7, 8, 4, 8, 2, 1, 9, 0, 5]

In [43]:
numbers2=[5,8,1,0,4,2,54,1]
numbers.extend(numbers2)
print(numbers)

[5, 9, 44, 88, 321, 5, 8, 1, 0, 4, 2, 54, 1]

2. insert():
- inserts an element in a specific position

In [46]:
numbers=[7,5,3,8,66]
numbers.insert(4,1)
print(numbers)

[7, 5, 3, 8, 1, 66]

4.remove() :

- Removes the first occurence of a value

In [47]:
numbers=[2,4,7,9,1,3,6,11,5,8,]
numbers.remove(2)
print(numbers)

[4, 7, 9, 1, 3, 6, 11, 5, 8]

5.pop():

- Removes and returns an element at a specific index

In [49]:
apple=[1,4,2,3,7,6,5,9,0,3,1,4,2]
popped_apple = apple.pop(1)
print(popped_apple)

4

6.index() :

- Gives the index number of particular element.

In [50]:
numbers=[12,20,40,100,53,51,60,90,203]
index=numbers.index(100)
print(index)

3

7.count() :

- Returns the number of occurences of the exact value

In [51]:
numbers=[3,2,1,6,5,4,3,2,1,9,0,8,6,4,4,5,2,1,0,2,3]
count=numbers.count(3)
print(count)

3

8.sort() :

- sorting the list in a ascending order.

In [52]:
numbers=[3,2,1,6,5,4,3,2,1,9,0,8,6,4,4,5,2,1,0,2,3]
numbers.sort()
print(numbers)

[0, 0, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 8, 9]

9.reverse():

reverse the order of the elements in the list

In [53]:
number=[1,4,3,2,0,5]
number.reverse()
print(number)

[5, 0, 2, 3, 4, 1]

10.clear()
- removes all the elements from the list and makes list empty
- clear list can be represented with list.clear()

In [54]:
a=[9,8,7,6,5,4,3,21,0]
a.clear()
print(a)

[]

11. min():

- Calculates the minimum of all the elements of the List

In [56]:
lst = [15, 3, 9, 2, 431]
maximum= min(lst)
print(maximum)

2

12. max():

- Calculates the maximum of all the elements of the List

In [57]:
a = [1, 5, 3, 9, 2]
largest_value = max(a)
print(largest_value)

9

13. copy():

- returns the copy of a list

In [58]:
number=[12,0,53,5,3224]
number.copy()
print(number)

[12, 0, 53, 5, 3224]