#1) Defie about set.
- In python, a set is a collecetion of unique elements, and it is defined using curly braces{} and separeted by ,(comma)
- sets are used to store multiple items in a single variable
- sets are unordered, mutable ,and do not allow duplicate elements
- sets provide a variety of methods for performing common set operations like union,intersection, difference, and more

#2) Create  10 examples using set

In [1]:
#creating an empty set
empty_set = set()
print(empty_set)

set()

In [4]:
#creating a set with element
fruits = {"apple","banana","orange"}
print(fruits)
print(type(fruits))

{'apple', 'orange', 'banana'}
<class 'set'>

In [6]:
#converting a list to a set
number=set([1,2,3,4,5])
print(number)
print(type(number))

{1, 2, 3, 4, 5}
<class 'set'>

In [8]:
#duplicate items in a set
names={"pavan","yogesh","kanna","ganesh","pavan","mallesh","yogesh","devesh","mahesh","yogesh","pavan"}
print(names)

{'devesh', 'yogesh', 'ganesh', 'mallesh', 'kanna', 'pavan', 'mahesh'}

In [16]:
number={1,2,3,4,5,1,2,3,4,5,10,7,8,9,11,10,3,8,9,4,7,2,11}
print(number)
print(type(number))

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}
<class 'set'>

#3) How to Add or update or Remove Elements in a Set
- sets are mutable.However, since they are unordered,indexing has no meaning.
- we cant access or change an element of a set using indexing or slicing
- set data type does not support it.

1) Add items to set in python
- In python, we use the add () method. to add an item to a set.

In [19]:
number={9,3,4,5,2,4,11,5,6,3,9,5,11,10,33,11,56,99,4,9,11,4,5,7}
print(number)
number.add(100)
print(number)
number.add(200)
print(number)
number.add("apple")
print(number)

{33, 2, 3, 4, 5, 6, 99, 7, 9, 10, 11, 56}
{33, 2, 3, 4, 5, 6, 99, 7, 9, 10, 11, 100, 56}
{33, 2, 3, 4, 5, 6, 99, 7, 9, 10, 11, 100, 200, 56}
{33, 2, 3, 4, 5, 6, 99, 7, 9, 10, 11, 100, 200, 'apple', 56}

In [20]:
fruit={"apple","banana","orange"}
print(fruit)
fruit.add("mango")
print(fruit)
fruit.add("grapes")
print(fruit)

{'apple', 'orange', 'banana'}
{'mango', 'apple', 'orange', 'banana'}
{'orange', 'mango', 'apple', 'banana', 'grapes'}

2) update python set
- the update () method is used to update the set with items other collection types (lists,tuples,set,etc.)

In [21]:
names={'mallesh','pavan','yogesh'}
print(names)
names.update(['ganesh','kanna','devesh'])
print(names)

{'mallesh', 'yogesh', 'pavan'}
{'devesh', 'yogesh', 'ganesh', 'mallesh', 'kanna', 'pavan'}

In [22]:
number1={1,2,3,4,5,6,7,8,9,10}
number2={11,12,10,2,5,6,7,8,9,10}
print(number1)
number1.update(number2)
print(number1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

**Remove an element from a set**
- we use the dist() method to remove the specified element from a set

In [23]:
#type 1
fruits={"apple","banana","orange","mango","grapes"}
print(fruits)
fruits.remove("banana")

{'mango', 'apple', 'banana', 'grapes', 'orange'}

In [24]:
#type 2
fruits={"apple","banana","orange","mango","grapes"}
print(fruits)
fruits.discard("banana")

{'mango', 'apple', 'banana', 'grapes', 'orange'}

#4)Python set() Operations
- If you remember your basic high school math, you'll probably recall mathematical set operations like union, intersection, difference and symmetric difference. Well, you can achieve the same thing with Python sets.
1. Set Union
- The union of two sets is the set of all the elements of both the sets without duplicates. You can use the union() method or the | syntax to find the union of a Python set.
- combines elements from two sets , romoving duplicates

In [28]:
# using the union() operator
first_set = {1, 2, 3,5,4}
second_set = {3, 4, 5}
first_set.union(second_set)

{1, 2, 3, 4, 5}

In [27]:
# using the `|` operator
first_set = {1, 2, 3,5,4}
second_set = {3, 4, 5}
first_set | second_set

{1, 2, 3, 4, 5}

2. Set Intersection
- The intersection of two sets is the set of all the common elements of both the sets. You can use the intersection() method of the & operator to find the intersection of a Python set.

In [32]:
# using the intersection() operator
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.intersection(second_set)

{4, 5, 6}

In [29]:
# using the `&` operator
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set & second_set

{4, 5, 6}

3. Set Difference
- The difference between two sets is the set of all the elements in first set that are not present in the second set. You would use the difference() method or the - operator to achieve this in Python.

In [30]:
 # using the difference() operator
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.difference(second_set)

{1, 2, 3}

In [35]:
second_set - first_set

{7, 8, 9}

In [36]:
 # using the `-` operator
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set - second_set

{1, 2, 3}

4. Set Symmetric Difference
- The symmetric difference between two sets is the set of all the elements that are either in the first set or the second set but not in both.

- You have the choice of using either the symmetric_difference() method or the ^ operator to do this in Python.

In [38]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.symmetric_difference(second_set)

{1, 2, 3, 7, 8, 9}

In [37]:
 # using the `^` operator
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set ^ second_set

{1, 2, 3, 7, 8, 9}