#**Variables**
- A Variable is a Symbolica name in programing used to store the data that can be referenced through a program .Variables can hold different types of data.
- Variables play a fundamental roie in making programs dynamic and flexible as they allow the storage and manipulation or reference of data in a program's runtime
#Rules of Variables
- Variables can written in Alpha-Numaric Structure ,(A-Z) and (0-9).
- Variables can not  Start With Special Characters Except Underscore (-).
- Variable can not Start with Any Digits.
- Variables can not Start with any Keywords.
- Variables are Case Sensitive.
#Types of Variables
There are two types of Variables

1) Single Variable

2) Multi Variable

1) Single Variable:

- Single Variable Refers to the Declaration of one variable to Store Data.

In [2]:
a=5
b=9
c=22
print(a)
print(b)
print(c)
print(a,b,c)

5
9
22
5 9 22

2) Multi Variable:

- Multi Variables are classified in two types
- Multi to Multi
- Multi to One

- **Multi to Multi**

The Variables which can assign values from Multiple varibles to another set of multiple variables in single step.

In [3]:
a,b,c=11,22,33
print(a,b,c)
print(a)
print(b)
print(c)

11 22 33
11
22
33

**Multi to One**

Multiple Variables Combined to form a single Output.

In [4]:
a=b=c=1234
print(c)
print(b-c)
print(a+b)
print(a,b,c)

1234
0
2468
1234 1234 1234

#Examples for Single variable

In [5]:
a=5
b=20
c=50
print(a)
print(a*b)
print(c/a)

5
100
10.0

In [6]:
a=25.1
b=30
c=3+5j
print(c)
print(a)
print(a+c)

(3+5j)
25.1
(28.1+5j)

In [7]:
x=-26
y=82222
z=66565.45544
w=-2.4+0j
v=37
print(z)
print(x+y+z+w-v)
print(v*w-x)
print(v/w*x*z-v)
print(-x-v-w-z)
print(x+y+z+w+v)

66565.45544
(148722.05544+0j)
(-62.8+0j)
(26681616.38886667+0j)
(-66574.05544000001+0j)
(148796.05544+0j)

#Multi to Multi Examples

In [8]:
a,b,c,x,y,z,=121,123,1234.23,50+2j,-15,3.58
print(x)
print(y)
print(c*z)
print(y/b)
print(z+x)
print(a-z)
print(z*x*y*c*a)
print(a+z+y+c)
print(z/a+c*x+a)
print(x+a+a-c-z)

(50+2j)
-15
4418.5434000000005
-0.12195121951219512
(53.58+2j)
117.42
(-400982813.55-16039312.542j)
1343.81
(61832.52958677686+2468.46j)
(-945.8100000000001+2j)

#Multi to OneMulti to One

In [9]:
i=j=k=7777777
print(j)
print(i)
print(k)
print(i*k)
print(j-i)
print(i-k+j)
print(j*k/i)
print(i+j+k*i*j*k)
print(i*j-k)

7777777
7777777
7777777
60493815061729
0
7777777
7777777.0
3659501660722670416096024995
60493807283952

In [10]:
a=b=c=2.358,2+56562j,0
print(a)
print(a+b)
print(a+a)
print(c)
print(a+b+c)

(2.358, (2+56562j), 0)
(2.358, (2+56562j), 0, 2.358, (2+56562j), 0)
(2.358, (2+56562j), 0, 2.358, (2+56562j), 0)
(2.358, (2+56562j), 0)
(2.358, (2+56562j), 0, 2.358, (2+56562j), 0, 2.358, (2+56562j), 0)